<%= content_for :page_specific_javascript do  %>
  <%= javascript_include_tag "frontpage" %>
<% end %>

<div class="container">
	<p>An easy way to save your text snippets.</p>
	<% unless current_user %>
		<%= render 'users/signup' %>
		<%= render 'sessions/signin' %>
		<button class="bookmarklet">Snippet-It</button>
	<% else %>
	  <button><a class="bookmarklet" href="javascript:<%= bookmarklet_caller_js %>">Snippet-It</a></button>
	<% end %>
</div>
