<%= content_for :page_specific_javascript do  %>
  <%= javascript_include_tag "frontpage" %>
<% end %>
<% unless current_user %>
	<%= render 'users/signup' %>
	<%= render 'sessions/signin' %>
	<button class="bookmarklet">Highlight Text</button>
<% else %>
  <a href="javascript:<%= bookmarklet_caller_js %>">highlight text</a>
<% end %>
