<%= content_for :page_specific_javascript do %>
  <%= javascript_include_tag "frontpage" %>
<% end %>
<div class="profile">
<a class="bookmarklet" href="javascript:<%= bookmarklet_caller_js %>">DRAG ME</a>
<h1>My Profile</h1>
<div class="tags">
  <h2>Popular Tags<%= link_to "View all", tags_path, class: "index" %></h2>
<% @user.tags.limit(5).each do |tag| %>
  <ul>
    <li class="tag"><%= link_to tag.content.capitalize, tag %></li>
  </ul>
<% end %>
</div>

<div class="snippets">
  <h2>Latest Snippets<%= link_to "View all", "/snippets", class: "index" %></h2>
  <div class="snippet">
    <% @user.snippets.limit(5).each do |s| %>
      <small>Created <%= time_ago_in_words(s.created_at) %> ago. Tags: 
        <% s.tags.each do |tag| %>
          <%= link_to tag.content.capitalize, tag_path(tag) %>
        <% end %>
      </small>
      <a href="/snippets/<%= s.id %>" class="snippet">  <%= truncate(s.content, length: 200) %></a>
    <% end %>
  </div>
</div>
</div>

