<!DOCTYPE html>
<html>
<head>
  <title>ResourceIt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :page_specific_javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert") %>
  <% end %>
  <% if signed_in? %>
    <%= link_to "Sign out", signout_path, method: :delete %>
 	<% end %>
<%= yield %>

</body>
</html>
