<!DOCTYPE html>
<html>
<head>
  <title>ResourceIt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :page_specific_javascript %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav>
    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert") %>
  <% end %>
  <h1 class="logo"><%= link_to "Snipp-et", root_path %></h1>
    <%= render 'layouts/signed_in' %>
  </nav>
<%= yield %>

</body>
</html>
